// Partial Imports
@import 'partials/variables';
@import 'partials/footer';
@import 'partials/newsletter';
@import 'partials/accreditation';
@import 'partials/netmatters-info';
@import 'partials/container';
@import 'partials/slider';


html {
    -webkit-text-size-adjust: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    margin: 0;
    line-height: 1.42857143;
}

#container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
#container>.main {
    background-color: #fff;
    position: relative;
    z-index: 10;
    height: 100%;
}
.main-outer {
    height: 100%;
    overflow: auto;
}

