// Partial Imports
@import 'partials/variables';
@import 'partials/footer';
@import 'partials/newsletter';
@import 'partials/accreditation';
@import 'partials/netmatters-info';
@import 'partials/container';
@import 'partials/slider';
@import 'partials/media';
@import 'partials/hidden-nav-bar';
@import 'partials/header';
* {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    margin: 0;
    line-height: 1.42857143;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
#container>.main {
    background-color: #fff;
    position: relative;
    z-index: 10;
    height: 100%;
}
.main-outer {
    height: 100%;
    overflow: auto;
}
@media screen and (min-width: 992px) {
    // * {
    //     background-color: #000;
    //     border: 1px solid #red;
    //     color: #green;
    //  } 
    .content-modern {
        text-align: left;
        float: left; 
        margin: 0px 10px 10px 0;
    }
    // services cards
    .container, .section, .row {
        // display: flex;
    }
    .container, .section {
        // flex-direction: column;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // align-items: center;
        // align-content: space-between;
    }
    .block {
        display: block;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 30px;
        box-shadow: 0 3px 35px rgb(0, 0, 0 / 10%);
    }
    .service-list .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
    }
    .cms-block a:not(.btn) {
        font-weight: 600;
        color: #333645;
    }
    .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .item, .web {
        flex-direction: row;
    }
}