// Partial Imports
@import 'partials/variables';
@import 'partials/footer';
@import 'partials/newsletter';
@import 'partials/accreditation';
@import 'partials/netmatters-info';
@import 'partials/container';
@import 'partials/slider';
@import 'partials/media';
@import 'partials/hidden-nav-bar';
@import 'partials/header';
@import 'partials/accred';
* {
    box-sizing: border-box;
}
div {
    display: block;
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    margin: 0;
    line-height: 1.42857143;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
#container>.main {
    background-color: #fff;
    position: relative;
    z-index: 10;
    height: 100%;
}
.main-outer {
    height: 100%;
    overflow: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.article-list>* {
    margin-top: -30px;
}
.cms-block a:not(.btn), .cms-block strong:not(.btn) {
    font-weight: 600;
    color: #333645;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    // border: 0;
    vertical-align: middle;
}
@media screen and (min-width: 768px) {
    .row:before {
        content: " ";
        display: table;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .article-list .item.web .block h3 a {
        color: #926fb1;
    }
    .btn.btn-web {
        color: #fff;
        background-color: #926fb1;
        border-color: #926fb1;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .service-list .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
    }
    .container {
        width: 750px;
    }
    .visible-xs {
        display: none!important;
    }
        
    footer {
        display: block;
        background-color: #333645;
        color: #fff;
        padding: 47px 0 43px;
    }
    footer .footer-row {
        display: flex;
        justify-content: space-between;
    }
    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 1.1;
        margin: 0 0 15px;
        font-weight: 400;
    }
    footer h4 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 26px;
    }
    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    footer ul li {
        font-size: .8125rem;
        line-height: 1.375rem;
    }
    footer .bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #888;
        font-size: .8125rem;
        padding-top: 10px;
        margin-top: 10px;
    }
    footer .bottom .license {
        text-decoration: none;
        list-style: none;
        color: #fff;
        display: flex;
        padding-top: 5px;
    }
    footer .bottom .license span {
        margin-left: 10px;
        margin-right: 10px;
    }
    footer .bottom .license ul {
        margin-top: -2px;
    }
    footer .bottom .social-media {
        display: flex;
        justify-content: flex-end;
        font-size: .9rem;
        margin-top: -5px;
    }
    footer .bottom .social-media a {
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 7px 10px 10px;
        border-radius: 50%;
        max-height: 38px;
    }
    footer .bottom .social-media a span {
        position: relative;
        top: 4px;
    }
    .container:after {
        content: " ";
        display: table;
        clear: both;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .service-list .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
    }
    .block.software>span.icon {
        background-color: #67809f;
    }
    .h2 {
        font-family: inherit;
        line-height: 1.1;
        font-weight: 400;
        color: #333645;
    }
    .block>span.h2 {
        font-size: 1.125rem;
        position: relative;
        padding-bottom: 17px;
        margin: 0 0 11px;
    }
    .service-list .block>span.p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
    }
    .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12 {
        float: left;
    }
    .col-sm-6 {
        width: 50%;
    }
}
@media screen and (min-width: 992px) { 
    .content-modern {
        text-align: left;
        float: left; 
        margin: 0px 10px 10px 0;
    }
    // services cards
    .row:before {
        content: " ";
        display: table;
    }
    .service-list .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
    }
    .container {
        width: 970px;
    }
    .main-navigation {
        background-color: #333645;
        display: block;
    }
    .container:before {
        content: " ";
        display: table;
    }
    .main-navigation .container>ul>li>a small {
        display: block;
        font-size: .625rem;
        padding-bottom: 1px;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .cms-block .brand-background {
        background-image: url(/assets/images/branded.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
    }
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-9, .col-md-10, .col-md-12 {
        float: left;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
}
@media screen and (max-width: 991px) {
    #banner .not-sliding .item>*, #banner .sliding .item>* {
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1260px) {
    .container {
        width: 1200px;
    }
    .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-9, .col-lg-12 {
        float: left;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .hidden-lg {
        display: none!important;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    header .search-form-wrapper--tablet>.search-form>.form-control {
        display: inline-block!important;
        border-radius: 0;
        width: 240px;
    } 
    #partial-79400 {
        width: 1136px;
    }
}
.service-list .block>span.icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 17px;
    color: #fff;
    border-radius: 50%;
}
.article-list .item .block h3 a {
    font-weight: 600;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn {
     height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    background-color: #333645;
    color: #fff;
}
p {
    margin: 0 0 10px;
}
p {
    line-height: 1.875rem;
    margin-bottom: 25px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.cms-block ol, .cms-block ul, .cms ol, .cms ul {
    padding-left: 28px;
    margin-bottom: 22px;
}
.bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.service-list .block {
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}
@media screen and (min-width: 992px) and (max-width: 1259px) {
    .hidden-md {
        display: none!important;
    }
}
.main-navigation .container>ul>li {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25);
}
.main-navigation .container>ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-right: 1px solid rgba(0,0,0,.25);
}
.main-navigation .container>ul>li>a {
    position: relative;
    display: block;
    color: #fff;
    padding: 19px 0 18px;
    text-transform: uppercase;
    font-size: 1.125rem;
    text-decoration: none;
    line-height: 1;
}
.main-navigation .container>ul>li.web>a span {
    color: #926fb1;
}
.main-navigation .container>ul>li.it>a span {
    color: #286abd;
}
.main-navigation .container>ul>li.telecoms>a span {
    color: #de093f;
}
.main-navigation .container>ul>li.software>a span {
    color: #526781;
}
.main-navigation .container>ul>li.digital>a span {
    color: #2ecc71;
}
.main-navigation .container>ul>li.security>a span {
    color: #de093f;
}
.main-navigation .container>ul>li>a span {
    font-size: 1.438rem;
    display: block;
    padding-bottom: 10px;
}
a:active, a:hover {
    outline: 0;
}
a:focus, a:hover {
    color: #121419;
    text-decoration: underline;
}
.main-navigation .container.web>ul>li:hover {
    background-color: #79539a;
}
.btn.btn-digital.active, .btn.btn-digital:active, .btn.btn-digital:focus, .btn.btn-digital:hover {
    color: #fff;
    background-color: #26ab5f;
    border-color: #239a55;
    text-decoration: none;
}
.btn-default {
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
    color: #fff;
    background-color: #84858f;
    border-color: #797a85;
    text-decoration: none;
}
.btn.btn-it.active, .btn.btn-it:active, .btn.btn-it:focus, .btn.btn-it:hover {
    color: #fff;
    background-color: #2a6ec6;
    border-color: #2665b5;
    text-decoration: none;
}
.main-navigation .container>ul>li>ul {
    padding: 0;
    margin: 0;
    display: none;
    background-color: #1d1f28;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 10;
    list-style: none;
}
.main-navigation .container>ul>li.it>ul, .main-navigation .container>ul>li.it>ul:after, .main-navigation .container>ul>li.it>ul:before {
    background-color: #2a6ec6;
}
.main-navigation .container>ul>li.telecoms>ul, .main-navigation .container>ul>li.telecoms>ul:after, .main-navigation .container>ul>li.telecoms>ul:before {
    background-color: #de093f;
}
.main-navigation .container>ul>li.software>ul, .main-navigation .container>ul>li.software>ul:after, .main-navigation .container>ul>li.software>ul:before {
    background-color: #526781;
}
.main-navigation .container>ul>li.digital>ul, .main-navigation .container>ul>li.digital>ul:after, .main-navigation .container>ul>li.digital>ul:before {
    background-color: #2ecc71;
}
.main-navigation .container>ul>li.security>ul, .main-navigation .container>ul>li.security>ul:after, .main-navigation .container>ul>li.security>ul:before {
    background-color: #de093f;
}
.main-navigation .container>ul>li>ul>li>a {
    text-decoration: none;
    text-align: left;
    display: block;
    line-height: 2.813rem;
}
.main-navigation .container>ul>li>ul>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
.main-navigation .container>ul>li>ul>li:not(:first-child) a {
    padding-left: 20px;
}
.btn.btn-software.active, .btn.btn-software:active, .btn.btn-software:focus, .btn.btn-software:hover {
    color: #fff;
    background-color: #566c88;
    border-color: #4e627b;
    text-decoration: none;
}
.main-navigation .container>ul>li>ul>li {
    float: left;
}
.sticky .main-navigation:not(.sub-open)>.container>ul.hover {
    margin-bottom: 2.813rem;
}
.main-navigation .container>ul>li.digital.open, .main-navigation .container>ul>li.it.open, .main-navigation .container>ul>li.security.open, .main-navigation .container>ul>li.software.open, .main-navigation .container>ul>li.telecoms.open, .main-navigation .container>ul>li.web.open {
    border-color: transparent;
}
.main-navigation .container>ul>li.web.open, .main-navigation .container>ul>li.web.open:after, .main-navigation .container>ul>li.web.open:before {
    background-color: #926fb1;
}
.open>a {
    outline: 0;
}
.main-navigation .container>ul>li.digital.open>a:after, .main-navigation .container>ul>li.digital.open>a:before, .main-navigation .container>ul>li.it.open>a:after, .main-navigation .container>ul>li.it.open>a:before, .main-navigation .container>ul>li.security.open>a:after, .main-navigation .container>ul>li.security.open>a:before, .main-navigation .container>ul>li.software.open>a:after, .main-navigation .container>ul>li.software.open>a:before, .main-navigation .container>ul>li.telecoms.open>a:after, .main-navigation .container>ul>li.telecoms.open>a:before, .main-navigation .container>ul>li.web.open>a:after, .main-navigation .container>ul>li.web.open>a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 2;
}
.main-navigation .container>ul>li.digital.open>a:before, .main-navigation .container>ul>li.it.open>a:before, .main-navigation .container>ul>li.security.open>a:before, .main-navigation .container>ul>li.software.open>a:before, .main-navigation .container>ul>li.telecoms.open>a:before, .main-navigation .container>ul>li.web.open>a:before {
    left: -2px;
}
.main-navigation .container>ul>li.web>a span {
    color: #926fb1;
}
.main-navigation .container>ul>li.digital.open>a span, .main-navigation .container>ul>li.it.open>a span, .main-navigation .container>ul>li.security.open>a span, .main-navigation .container>ul>li.software.open>a span, .main-navigation .container>ul>li.telecoms.open>a span, .main-navigation .container>ul>li.web.open>a span {
    color: #fff;
}
.main-navigation .container>ul>li.digital.open>a:after, .main-navigation .container>ul>li.digital.open>a:before, .main-navigation .container>ul>li.it.open>a:after, .main-navigation .container>ul>li.it.open>a:before, .main-navigation .container>ul>li.security.open>a:after, .main-navigation .container>ul>li.security.open>a:before, .main-navigation .container>ul>li.software.open>a:after, .main-navigation .container>ul>li.software.open>a:before, .main-navigation .container>ul>li.telecoms.open>a:after, .main-navigation .container>ul>li.telecoms.open>a:before, .main-navigation .container>ul>li.web.open>a:after, .main-navigation .container>ul>li.web.open>a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 2;
}
.main-navigation .container>ul>li.digital.open>a:after, .main-navigation .container>ul>li.it.open>a:after, .main-navigation .container>ul>li.security.open>a:after, .main-navigation .container>ul>li.software.open>a:after, .main-navigation .container>ul>li.telecoms.open>a:after, .main-navigation .container>ul>li.web.open>a:after {
    right: -2px;
}
.main-navigation .container>ul>li.open>ul {
    display: block;
}
.main-navigation .container>ul>li.web>ul, .main-navigation .container>ul>li.web>ul:after, .main-navigation .container>ul>li.web>ul:before {
    background-color: #79539a;
}
.main-navigation .container>ul>li.web>ul, .main-navigation .container>ul>li.web>ul:after, .main-navigation .container>ul>li.web>ul:before {
    background-color: #79539a;
}
.main-navigation .container>ul>li>ul:before {
    right: 100%;
    width: 2000px;
}
@media screen and (min-width: 1260px) {
    .main-navigation .container>ul>li>ul>li:not(:first-child) a {
        padding-left: 30px;
    }
}
.main-navigation .container>ul>li.open>ul {
    display: block;
}
.main-navigation .container>ul>li>ul {
    right: 100%;
    width: 2000px;
}
.main-navigation .container>ul>li.web>ul, .main-navigation .container>ul>li.web>ul:after, .main-navigation .container>ul>li.web>ul:before {
    background-color: #79539a;
}
.main-navigation:hover .main-navigation .container>ul>li>ul {
    background-color: #79539a ;
}
.section.clients .list .item .description .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 260px;
    margin: 0 auto 50px;
}
.section.clients .list .item .description .box .arrow:after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
}
.section.clients .list .item:hover .description {
    display: block;
}
.main-navigation .container>ul>li:hover>ul {
    display: block;
}
.main-navigation .container>ul>li.web.open, .main-navigation .container>ul>li.web:hover, .main-navigation .container>ul>li.web.open:before {
    background-color: #926fb1;
}
.main-navigation .container>ul>li>ul:after {
    left: 100%;
    width: 2000px;
}
.main-navigation .container>ul>li.digital:hover>a span, .main-navigation .container>ul>li.it.open>a span, .main-navigation .container>ul>li.security.open>a span, .main-navigation .container>ul>li.software.open>a span, .main-navigation .container>ul>li.telecoms.open>a span, .main-navigation .container>ul>li.web.open>a span {
    color: #fff;
}
.main-navigation .container>ul>li.web>ul, .main-navigation .container>ul>li.web>ul:after, .main-navigation .container>ul>li.web>ul:before {
    background-color: #79539a;
}
.main-navigation .container>ul>li>ul:after, .main-navigation .container>ul>li>ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #1d1f28;
}
a:focus, a:hover {
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
a {
    background: transparent;
}
.main-navigation .container>ul>li.it.open, .main-navigation .container>ul>li.it:hover, .main-navigation .container>ul>li.it.open:before {
    background-color: #2a6ec6;
    color: #fff;
}
.main-navigation .container>ul>li.telecoms.open, .main-navigation .container>ul>li.telecoms:hover, .main-navigation .container>ul>li.telecoms.open:before {
    background-color: #de093f;
}
.main-navigation .container>ul>li.software.open, .main-navigation .container>ul>li.software:hover, .main-navigation .container>ul>li.software.open:before {
    background-color: #526781;
}
.main-navigation .container>ul>li.digital.open, .main-navigation .container>ul>li.digital:hover, .main-navigation .container>ul>li.digital.open:before {
    background-color: #2ecc71;
}
.main-navigation .container>ul>li.security.open, .main-navigation .container>ul>li.security:hover, .main-navigation .container>ul>li.secutiry.open:before {
    background-color: #de093f;
}
.main-navigation .container>ul>li.web:hover .fa-code {
    color: #fff;
}
.main-navigation .container>ul>li.it:hover .fa-desktop {
    color: #fff;
}
.main-navigation .container>ul>li.telecoms:hover .fa-phone-volume {
    color: #fff;
}
.main-navigation .container>ul>li.software:hover .fa-th {
    color: #fff;
}
.main-navigation .container>ul>li.digital:hover .fa-signal {
    color: #fff;
}
.main-navigation .container>ul>li.security:hover .fa-shield-alt {
    color: #fff;
}
label a {
    text-decoration: underline;
}
footer ul li a, footer ul li a:hover {
    color: #fff;
}