// The Accreditations Section 
//News
.bar {
    box-shadow: 0 5px 35px rgb(0, 0, 0 / 10%);
}
.container:before {
    content: " ";
    display: table;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container:before {
    content: " ";
    display: table;
}
li {
    display: list-item;
}
.cms-block ul li {
    line-height: 24px;
}
.bar ul>li {
    float: left;
    padding: 0;
}

.container:after {
    clear: both;
}
.bar ul>li>span {
    padding: 40px 0;
    color: #333645;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
}
.bar ul>li>span:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333645;
    height: 5px;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.container:before {
    content: " ";
    display: table;
}
.article-list {
    overflow: hidden;
}
.col-md-4 .software:hover {
    background-color: #67809f;
}
.col-md-4 .software:hover .icon {
    color: #fff;
}
.col-md-4 .software:hover

.col-md-4 .it:hover {
    background-color: #4183d7;
}
.col-md-4 .digital:hover {
    background-color: #2ecc71;
}
.col-md-4 .digital:hover {
    color: #fff;
}
.col-sm-6 .telecoms:hover {
    background-color: #d64541;
}
.col-sm-6 .web:hover {
    background-color: #926fb1;
}
.col-sm-6 .security:hover {
    background-color: #f62459;
}
.col-sm-6 .security:hover {
    background-color: #926fb1;
}
.service-list .block:hover {
    color: #fff;
    border-color: transparent;
}
// Inside of box 1 hover styles
.service-list .block.software:hover>span.icon {
    background-color: #fff;
}
.service-list .block.software:hover>span.h2 {
    color: #fff;
}
.service-list .block.software:hover>span.p {
    color: #fff;
}
.service-list .block.software:hover>span.btn-container .btn.btn-software {
    background-color: #fff;
}
.service-list .block.software:hover>span.btn-container .btn.btn-software {
    color: #67809f;
}
// End of inside of box 1 hover styles
// Box 3
.digital:hover>span .icon {
    background-color: #fff;
}
.service-list .block.software:hover>span.h2 {
    color: #fff;
}
.service-list .block.software:hover>span.p {
    color: #fff;
}
.service-list .block.software:hover>span.btn-container .btn.btn-software {
    background-color: #fff;
}
.service-list .block.software:hover>span.btn-container .btn.btn-software {
    color: #67809f;
}

.service-list .block.it>span.icon:hover {
    background-color: #fff;
}
.service-list .block.digital>span.icon:hover {
    background-color: #fff;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.article-list>* {
    margin-top: -30px;
}
.row:before {
    content: " ";
    display: table;
}
.col-lg-4, .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.article-list .item {
    font-size: .8125rem;
    margin-top: 30px;
}
.article-list .item .img-container {
    position: relative;
}
a {
    cursor: pointer;
    background: transparent;
    text-decoration: none;
}
.cms-block a:not(.btn) {
    font-weight: 600;
}
.article-list .item .img-container .category {
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    z-index: 1;
    background-color: #926fb1;
}
.article-list .item .img-container .category:hover {
    text-decoration: underline;
}
img {
    border: 0;
    vertical-align: middle;
}
.cms-block img {
    max-width: 100%;
}
.article-list .item .img-container .img img {
    transition: all .25s cubic-bezier(.215,.61,.255,1);
    width: 100%;
    height: auto;
}
.block {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    // box-shadow: 0 3px 35px rgb(0, 0, 0 / 10%);
}
.article-list .item .block:not(.top) {
    border-top: 0;
    border-radius: 0 0 3px 3px;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: inherit;
    font-weight: 400;
    margin: 0 0 15px;
    // color: #333645;
}
.article-list .item .block h3 {
    font-size: 1rem;
    line-height: 1.5rem;
}
.date {
    color: #666;
}
p {
    text-align: left;
    color: #666;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
    margin-bottom: 25px;
}
h3 {
    text-align: left;
}
.article-list .item .block p {
    line-height: 1.375rem;
    font-size: .8125rem;
    color: #333645;
    text-align: left;
}
.btn {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
}
.btn.btn-web {
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
}
.btn.btn-it {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}
.article-list .item.it .block h3 a {
    color: #4183d7;
}
.article-list .item .block .btn {
    font-weight: 400;
}
.article-list .item .user {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}
.user {
    display: table;
    width: 100%;
    font-size: .875rem;
}
.user>.avatar {
    width: 1%;
    border-radius: 50%;
    overflow: hidden;
}
.user>* {
    display: table-cell;
    vertical-align: middle;
}
.user>.avatar img {
    max-width: 47px;
}

.cms-block img {
    height: auto;
    width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
.user>.avatar img {
    max-width: 47px;
}
.user>.details {
    padding-left: 20px;
    line-height: 1.375rem;
}
.cms-block strong:not(.btn) {
    font-weight: 600;
    color: #333645;
}
.article-list .item.it .img-container .category {
    background-color: #4183d7;
}
.article-list .item.it .img-container .category:hover {
    text-decoration: underline;
}
@media screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
    }
    div {
        display: block;
    }
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .container {
        width: 750px;
    }
    .article-list {
        overflow: hidden;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .article-list>* {
        margin-top: -30px;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .col-lg-4, .col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sm-6 {
        float: left;
        width: 50%;
    }
    .article-list .item {
        font-size: .8125rem;
        margin-top: 30px;
    }
    .article-list .item .img-container {
        position: relative;
    }
    a {
        background: transparent;
        text-decoration: none;
    }
    .cms-block a:not(.btn) {
        font-weight: 600;
    }
    .article-list .item .img-container .category {
        position: absolute;
        top: 10px;
        right: 0;
        color: #fff;
        font-size: .75rem;
        padding: 0 10px;
        line-height: 1.438rem;
        text-transform: uppercase;
        z-index: 1;
        background-color: #926fb1;
    }
    .cms-block a:not(.btn) {
        font-weight: 600;
        color: #333645;
    }
    .article-list .item .img-container .img {
        display: block;
        border-radius: 3px 3px0 0;
        overflow: hidden;
        position: relative;
    }
    img {
        border: 0;
        vertical-align: middle;
    }
    .img-responsive {
        display: block;
    }
    .cms-block img {
        max-width: 100%;
    }
    .article-list .item .img-container .img img {
        transition: all .25s cubic-bezier(.215,.61,.355,1);
        width: 100%;
        height: auto;
    }
    .block {
        display: block;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 30px;
        box-shadow: 0 3px 35px rgb(0, 0, 0 / 10%);
    }
    .article-list .item .block:not(.top) {
        border-top: 0;
        border-radius: 0 0 3px 3px;
    }
    h3 {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: inherit;
        font-weight: 400;
        margin: 0 0 15px;
        color: #333645;
    }
    .article-list .item .block h3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .article-list .item .block h3 a {
        font-weight: 600;
    }
    .article-list .item.web .block h3 a {
        color: #926fb1;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin: 0 0 10px;
        margin-bottom: 25px;
    }
    .article-list .item .block p {
        line-height: 1.375rem;
        font-size: .8125rem;
        color: #000;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        white-space: normal;
    }
    .btn.btn-web {
        color: #fff;
        background-color: #926fb1;
        border-color: #926fb1;
    }
    .article-list .item .block .btn {
        font-weight: 400;
    }
    .user {
        display: table;
        width: 100%;
        font-size: .875rem;
    }
    .article-list .item .user {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;
    }
    .user>* {
        display: table-cell;
        vertical-align: middle;
    }
    .user>.avatar {
        width: 1%;
        border-radius: 50%;
        overflow: hidden;
    }
}
@media screen and (min-width: 768px) and (max-width: 1259px) {
    .article-list .item .block h3 {
        min-height: 3rem;
    }
    .article-list .item p {
        min-height: 66px;
    }
}
@media screen and (min-width: 992px) {
    * {
        box-sizing: border-box;
    }
    div {
        display: block;
    }

    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .service-list {
        margin-top: -30px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row:before {
        content: " ";
        display: table;
    }
    .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 33.33333333%;
    }
    .block {
        display: block;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 30pxs;
        box-shadow: 0 3px 35px rgb(0, 0, 0 / 10%);
    }
    .service-list .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {}
.container {
    width: 750px;
}
@media screen and (min-width: 1260px) {
    .acc-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}