// ===============================
// Footer Section
// ===============================
footer {
    background-color: $primaryColor;
    color: $textColorFoot;
    padding: 47px 0px 43px;
}
       
        
           
footer .footer-row {
    display: flex;
    justify-content: space-between;
}       
footer .footer-row .services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
} 
footer .footer-row .services .service {
    width: 225px;
    margin-bottom: 30px;
}
footer {
    h4 {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: .8125rem;
        line-height: 1.375rem;
    }
    a {
        color: $textColorFoot;
        text-decoration: none;
        background: transparent;
    }
}

// ==========================
// Offices section
// ==========================
footer .footer-row .offices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-row .services .office {
    width: 225px;
    margin-bottom: 30px;
}
footer h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 26px;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    font-size: .8125rem;
    padding-top: 10px;
    margin-top: 10px;
}
footer .bottom .licence {
    text-decoration: none;
    list-style: none;
    color: $textColorFoot;
    display: flex;
    padding-top: 5px;
}
footer .bottom .licence span {
    margin-left: 10px;
    margin-right: 10px;
}
footer .bottom .licence ul {
    margin-top: -2;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
footer ul li {
    font-size: .8125rem;
    line-height: 1.375rem;
}


