// ===============================
// Footer Section
// ===============================
@media screen and (min-width: 1260px) { 

}
footer {
    display: block;
}
footer {
    background-color: $primaryColor;
    color: $textColorFoot;
    padding: 47px 0 43px;
}
footer .footer-row {
    flex-wrap: wrap;
}
footer .footer-row {
    display: flex;
    justify-content: space-between;
}       
footer {
    h4 {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: $textColorFoot;
        text-decoration: none;
        background: transparent;
    }
}
footer .bottom .license {
    text-decoration: none;
    list-style: none;
    color: #fff;
    display: flex;
    padding-top: 5px;
}
footer .bottom .license span {
    margin-left: 10px;
    margin-right: 10px;
}
footer .bottom .license ul {
    margin-top: -2px;
}
footer ul li a {
    color: #fff;
}
// // ==========================
// // Offices section
// // ==========================
footer .footer-row .services .office {
    width: 225px;
    margin-bottom: 30px;
}
.btn:hover {
    color: #fff;
    background-color: #22242e;
    border-color: #191a22;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    font-size: .8125rem;
    padding-top: 10px;
    margin-top: 10px;
}

footer .bottom .licence {
    text-decoration: none;
    list-style: none;
    color: $textColorFoot;
    display: flex;
    padding-top: 5px;
}
footer .bottom .licence span {
    margin-left: 10px;
    margin-right: 10px;
}
footer .bottom .licence ul {
    margin-top: -2;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    font-size: .8125rem;
    line-height: 1.375rem;
}
footer .bottom .social-media {
    display: flex;
    justify-content: flex-end;
    font-size: .9rem;
    margin-top: -5px;
}
footer .bottom .social-media a .facebook {
    
}
footer .bottom  .social-media a.facebook:hover {
    background-color: #3b5998;
}
footer .bottom  .social-media a.twitter:hover {
    background-color: #1D9BF0;
}
footer .bottom  .social-media a.instagram:hover {
    background-color: #d93175;
}
footer .bottom  .social-media a.linkedin:hover {
    background-color: #0077b5;
}
footer .bottom .social-media a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1px 10px 10px;
    border-radius: 50%;
    max-height: 30px;
}
.form-group a {
    background: transparent;
    text-decoration: underline;
    color: #333645;
}


footer .footer-row .services {
    display: flex;
    justify-content: space-evenly;
}
footer .footer-row .services {
    display: flex;
    justify-content: space-between;
}
footer .footer-row .offices {
    display: flex;
}
@media screen and (max-width: 1259px) {
    footer .footer-row .services {
        width: 100%;
        justify-content: space-evenly;
    }
    footer .footer-row .offices {
        width: 100%;
        justify-content: space-evenly;
    }
    .section.clients .list .item img {
        height: auto;
        width: 100%;
    }
    .main-navigation .container>ul>li>ul>li>a {
        font-size: .8125rem;
    }
}
.main-navigation .container>ul>li>ul>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: .8125rem;
}
@media screen and (min-width: 992px) {
   
}
@media screen and (max-width: 767px) {
    .visible-xs {
        display: block!important;
    }
    footer .footer-row .services {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .footer-row .offices {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .footer-row .offices {
        flex-wrap: wrap;
        justify-content: center;
    }
    .visible-xs {
        display: block!important;
    }
}
footer .footer-row .offices .office {
    width: 225px;
    margin-bottom: 30px;
}

footer .footer-row .services .service {
    width: 225px;
    margin-bottom: 30px;
}
footer .bottom .social-media a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1px 10px 10px;
    border-radius: 50%;
    max-height: 30px;
}