.main-navigation {
    background-color: #333645;
    display: none;
}
@media screen and (min-width: 992px) {
    .main-navigation {
        background-color: #333645;
        display: block;
    }
    .container {
        width: 970px;
    }
    .container:before {
        content: " ";
        display: table;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    .main-navigation .container>ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        border-left: 1px solid hsla(0,0%,100%,.1);
        border-right: 1px solid rgba(0,0,0,.25);
    }
    // li {
    //     display: list-item;
    //     padding-left: 41px;
    //     padding-right: 41px;
    //     padding-top: 20px;
    //     padding-bottom: 20px;
    // }
    .main-navigation .container>ul>li>a {
        position: relative;
        display: block;
        color: #fff;
        padding: 19px 0 18px;
        text-transform: uppercase;
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 1;
    }
    [class^=icon-] {
        font-family: icomoon!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .main-navigation .container>ul>li>a span {
        font-size: 1.438rem;
        display: block;
        padding-bottom: 10px;
    }
    .main-navigation .container>ul>li.web>a span {
        color: #926fb1;
    }
    .icon-code:before {
        content: "\E908";
    }
    .main-navigation .container>ul>li>a small {
        display: block;
        font-size: .625rem;
        padding-bottom: 1px;
    }
    ul ul {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    .main-navigation .container>ul>li>ul {
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        top: 100%;
        left: -1px;
        right: -1px;
        z-index: 10;
        list-style: none;
    }
    .main-navigation .container>ul>li.web>ul {
        background-color: #79539a;
    }
    li {
        display: list-item;
        // text-align: -webkit-match-parent;
    }
    .main-navigation .container>ul>li>ul>li {
        float: left;
    }
    .main-navigation .container>ul>li {
        -webkit-flex: 1;
        text-align: center;
        border-right: 1px solid hsla(0,0%,100%,.1);
        border-left: 1px solid rgba(0,0,0,.25);
    }
}
