.cms-block .brand-background {
    background-color: $primaryColor;
    color: $formColor;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.case {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    font-family: inherit;
    line-height: 1.1;
}
h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 28px;
}
.background h1 {
    text-transform: uppercase;
}
.background h1 {
    margin-top: -6px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;;
}
p {
    margin: 0 0 10px;
    line-height: 1.875rem;
    margin-bottom: 25px;
}
a {
    background: transparent;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
}
.btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.036rem;
    border-radius: 3px;
    white-space: normal;
}
.btn.btn-primary.btn-inverse {
    color: $primaryColor;
    background-color: $textColorFoot;
    border-color: $textColorFoot;
}
i {
    margin-left: 10px;
}
.case {
    max-width: 605px;
}
.case p {
    color: #fff;
}
.case h1 {
    color: #fff;
    text-transform: uppercase;
}
img {
    max-width: 100%;
    background-size: contain;
}