.newsletter-full-width {
    background-color: #ddd;
}
.container:before {
    content: " ";
    display: table;
}
form {
    display: block;
}
.sign-up {
    margin: 30px auto 15px;
    padding: 50px 30px;
}
.newsletter-full-width, .sign-up {
    background-color: #ddd;
}
.newsletter-full-width .sign-up {
    margin: 0;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: inherit;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 15px;
    color: #333645;
    font-size: 2rem;
}
.sign-up-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
}
@media screen and (min-width: 1260px) {
}
#email-chkbox {
    appearance: none;
    width: 1.8em;
    height: 1.8em;
    border: 3px solid #333645;
    border-radius: 3px;
    cursor: pointer;
    z-index: 20;

    & ~ .icon-checkbox-checked {
        visibility: hidden;
        height: 20px;
        margin: 0.5em 1.5em 0 -1.4em ;
        transform: scale(1.9);
        z-index: 10;
    }
}
    #email-chkbox:checked {
        & ~ .icon-checkbox-checked {
        visibility: visible !important;
                    }
        }
        .checkbox-container{
            display: flex;
            flex-direction: row;
            // max-height: 10rem;
            min-width: 10rem;
            font-size: 18px;
            margin-top: 0.8em;
            font-weight: 600;
            margin-bottom: 15px;
    
            label {
                width: 80%;
                font-size: 16px;
                line-height: 30px;
                cursor: pointer;
                      }
    
    
          }