.newsletter-full-width {
    background-color: #ddd;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before {
    content: " ";
    display: table;
}
form {
    display: block;
    width: 75%;
}
.sign-up {
    padding: 50px 30px;
    background-color: #ddd;
}
.newsletter-full-width .sign-up {
    margin: 0;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: inherit;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 15px;
    color: #333645;
}
.sign-up-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    cursor: default;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333645;
}
label.pretty-checkbox {
    line-height: 32px;
    cursor: pointer;
}
label.required:after {
    content: " *";
    color: #d24d57;
}
input {
    cursor: text;
    -webkit-rtl-ordering: logical;
    appearance: auto;
    text-align: start;
    text-shadow: none;
    text-indent: 0px;
    text-transform: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-rendering: auto;
    font: inherit;
    margin: 0;
    font-family: inherit;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 40px;
    padding: 5px 15px;
    border-color: #ddd ;
}
.media {
    zoom: 1;
    overflow: hidden;
}
.media:first-child {
    margin-top: 0;
}
.media-left {
    display: table-cell;
    vertical-align: top;
}
.checkbox {
    padding-right: 0;
}
label.pretty-checkbox .button {
    border-radius: 3px;
    border: 3px solid #333645;
    height: 32px;
    width: 32px;
    position: relative;
    float: left;
    margin-right: 20px;
}
[class^=mdi-] {
    font-family: Material-Design-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
label.pretty-checkbox .button span {
    display: none;
    line-height: 26px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
}
label.pretty-checkbox.active .button span {
    color: #fff;
    display: block;
}
.media-body {
    zoom: 1;
    overflow: hidden;
    width: 10000px;
    display: table-cell;
    vertical-align: top;
}
button {
    font-family: inherit;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.btn-primary {
    color: #fff;
    background-color: #333645;
    border-color: #333645;
}