.newsletter-full-width .sign-up {
    margin: 0;
    background-color: $newsletterBackground;
}
.sign-up {
    padding: 50px 30px;
}
form {
    display: block;
}
h2 {
    font-weight: 400;
    margin: 0 0 15px;
    color: $primaryColor;
}
h2 {
    font-size: 2rem;
}
h2 {
    font-family: inherit;
    line-height: 1.1;
}
h2 {
    display: block;
}
.sign-up-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    color: $primaryColor;
}
label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control {
    height: 47px;
    padding: 5px 15px;
    border-color: $formColor;
}
.form-control {
    width: 100%;
    background-color: $textColorFoot;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}