.newsletter-full-width {
    background-color: #ddd;
}
.container:before {
    content: " ";
    display: table;
}
form {
    display: block;
    // width: 75%;
}
.sign-up {
    margin: 30px auto 15px;
    padding: 50px 30px;
}
.newsletter-full-width, .sign-up {
    background-color: #ddd;
}
.newsletter-full-width .sign-up {
    margin: 0;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: inherit;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 15px;
    color: #333645;
}
.sign-up-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
}
.form-group {
    margin-bottom: 15px;
}
label {
    // cursor: default;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
label.pretty-checkbox {
    line-height: 32px;
    cursor: pointer;
}
label.required:after {
    content: " *";
    color: #d24d57;
}
input {
    cursor: text;
    -webkit-rtl-ordering: logical;
    appearance: auto;
    text-align: start;
    text-shadow: none;
    text-indent: 0px;
    text-transform: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-rendering: auto;
    font: inherit;
    margin: 0;
    font-family: inherit;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 40px;
    padding: 5px 15px;
    border-color: #ddd ;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media {
    margin-top: 15px;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.media:first-child {
    margin-top: 0;
}
.media-body, .media-left {
    display: table-cell;
    vertical-align: top;
}
.checkbox-left {
    padding-right: 0;
}
.checkbox {
    padding-right: 0;
}
[class*=" mdi-"], [class^=mdi-] {
    font-family: Material-Design-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label.pretty-checkbox .button {
    border-radius: 3px;
    border: 3px solid #333645;
    height: 32px;
    width: 32px;
    position: relative;
    float: left;
    margin-right: 20px;
}
.checkbox__box::after {
    content: '\2714';
    color: #fff;
}
.checkbox:checked + .checkbox__box {
    background: #000;
    border-color: #000;
}

label.pretty-checkbox .button i, label.pretty-checkbox .button span {
    display: none;
    line-height: 26px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
}
label.pretty-checkbox.active .button {
    background-color: #333645;
}
label.pretty-checkbox.active .button span {
    color: #fff;
    display: block;
}
.marketing_prefernce {
    display: none;
}
.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.media-body {
    zoom: 1;
    overflow: hidden;
    width: 10000px;
    display: table-cell;
    vertical-align: top;
}
button {
    font-family: inherit;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.btn-primary {
    color: #fff;
    background-color: #333645;
    border-color: #333645;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
label.pretty-checkbox .button [type=checkbox] {
    display: none;
}
label.pretty-checkbox.active .button {
    background-color: #333645;
}
label.pretty-checkbox.active .button i, label.pretty-checkbox.active .button span {
    color: #fff;
    display: block;
}
.mdi-action-done:before {
    content: "\E623";
}
@media screen and (min-width: 1260px) {
    // .container {
    //     width: 1200px;
    // }
    // .block telecoms {
    //     position: relative;
    //     left: 500px;
    // }
}
// #email-chkbox {
//     appearance: none;
//     width: 1.8em;
//     height: 1.8em;
//     border: 3px solid #333645;
//     border-radius: 3px;
//     cursor: pointer;
//     z-index: 2;

//     & ~ .icon-checkbox-checked {
//         visibility: hidden;
//         height: 20px;
//         margin: 0.5em 1.5em 0 -1.4em ;
//         transform: scale(1.9);
//         z-index: 1;
//     }
// }
//     #email-chkbox:checked {
//         & ~ .icon-checkbox-checked {
//         visibility: visible !important;
//                     }
//         }

// .checkbox::before {
//     content: "\E623";
// }