// Services card section

.container.section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.service-list {
    margin-top: -30px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    background: transparent;
}
.block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    // box-shadow: 0 3px 35px rgb(0, 0, 0 / 10%);
}
.service-list .block {
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}
.service-list .block>span {
    display: block;
}
.service-list .block>span.icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 17px;
    color: #fff;
    border-radius: 50%;
}
.service-list .block.software>span.icon {
    background-color: #67809f;
}
.h2 {
    font-family: inherit;
    line-height: 1.1;
    font-weight: 400;
    color: #333645;
}
.service-list .block>span.h2 {
    font-size: 1.125rem;
    position: relative;
    padding-bottom: 17px;
    margin: 0 0 11px;
}
#after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #333645;
}
.service-list .block>span.p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 400;
    color: #333645;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
}
.btn.btn-software {
    color: #fff;
    background-color: #67809f;
    border-color: #67809f;
}
.service-list .block it{
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}
.service-list .block>span.icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 17px;
    color: #fff;
    border-radius: 50%;
}
.block.it>span.icon {
    background-color: #4183d7;
}
.btn.btn-it {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}
.block.digital>span.icon {
    background-color: #2ecc71;
}
.btn.btn-digital {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}
.col-lg-3 .col-md-6 .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.block.telecoms>span.icon {
    background-color: #d64541;
}
.btn.btn-telecoms {
    color: #fff;
    background-color: #d64541;
    border-color: #d64541;
}
.block.web>span.icon {
    background-color: #926fb1;
}
.block.security>span.icon {
    background-color: #f62459;
}
.btn.btn-security {
    color: #fff;
    background-color: #f62459;
    border-color: #f62459;
}
.block.web>span.icon {
    background-color: #926fb1;
}