#banner {
    position: relative;
}
.home-page #banner {
    border-top: 1px solid rgba(51,54,69,.5);
}
.full-page #banner {
    flex: 1 0 auto;
}
.owl-carousel {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.owl-carousel.owl-loaded {
    display: block;
}
#banner .sliding {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.owl-carousel {
    position: relative;
}
#banner .sliding .owl-stage {
    height: 100%;
}
.owl-stage {
    
}