* {
    box-sizing: border-box;
}
div {
    display: block;
}
.item {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
}
.item .img-cover-modern-container {
    height: 100%;
}
.item .content-modern {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}